<% @posts.each do |post| %>
    <div class="d-grid gap-0">
        <div class="container shadow p-3 mt-3">
            <%= render post %>
            <%= link_to post, class:"text-secondary" do %>
                Show this post
                <i class="fa-solid fa-arrow-right"></i>
            <% end %>
        </div>
    </div>
<% end %>